<%- include('../partials/headerWNav'); %>
<% if(typeof errors != 'undefined')for(error of errors) {%> 
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= error.msg %> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %> 
<table class="table table-striped">
    <tr>
        <th>Símbolo</th>
        <th>Nombre Empresa</th>
        <th>Acciones</th>
        <th>Precio Actual</th>
        <th>TOTAL</th>
    </tr>
    <% for(stock of portafolio.stocks){ %>
        <tr>
            <td><%= stock.symbol%></td>
            <td><%= stock.name%></td>
            <td><%= stock.numAcciones%></td>
            <td><%= formatCurrency(stock.valorPorAccion) %>  </td>
            <td><%= formatCurrency(stock.valorTotal) %>  </td>
        </tr>
        <% } %>  
    <tr>
        <td>CASH</td>
        <td></td>
        <td></td>
        <td></td>
        <td><%= formatCurrency(portafolio.cash) %> </td>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><%= formatCurrency(portafolio.total) %> </th>
    </tr>
</table>    
<%- include('../partials/footer'); %>